.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(128, 128, 128, 0.651);
  }
  
  .modalShow {
    display: block;
  }
  
  .modalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;    
    width: fit-content;
    min-width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0px;
  } 

  .modalContent p {
    text-align: center;
  }
  
  .btnClose {     
      font-size: 14px;
      font-weight: bold;     
      width: fit-content;
      min-width: 40%;
      padding-left: 10px;
      padding-right: 10px;
      border: 1px solid transparent;
      box-sizing: border-box;
  }

  .btnClose:hover,
  .btnClose:focus{        
    text-decoration: none;
    cursor: pointer;     
    box-sizing: border-box;
    border: 1px solid black;
  }

  .icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;        
  }


  